body {
  background-color: #DDDDDD;
}

div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 50%;
  height: 40%;
  text-align: center;
}

button {
  margin: 40px auto 0 auto;
  display: block;
}

input {
  width: 80%;
}

a {
  text-decoration: none;
  color: black;
}