body {
  background-color: #DDDDDD;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 40%;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}